body{
    background: #a5c5d1;
background: linear-gradient(90deg,rgba(165, 197, 209, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%); 
    color:#00FFF2;
    font-size:48px;        
}
.cabecalho{  
    background-color:black;


}
.conteudo1 h2{
    border-bottom: solid 2px black;
}